<div class="container">
  <div class="top-gap">
    <div class="mat-display-2">Speakers</div>
    <div class="description">
      Hear from the Googlers, Partners, and Guest Speakers who are building the future of cloud.
      Check back often as we add more speakers, including our customers and partners.
    </div>
  </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<app-filter></app-filter>
<div class="container pad-all speaker-container">
  <app-speaker *ngFor="let speaker of speakers$ | async"
    [speaker]="speaker"></app-speaker>
</div>
