.filter-container {
  $pad: 16px;
  padding-top: $pad;
  padding-bottom: $pad;
}

.filter-actions {
  display: flex;
  align-items: center;

  .mat-subheading-2 {
    margin: 0;
  }
}

.filters {
  margin-top: 4px;
}

.speaker-container {
  display: grid;
  gap: 20px;
}
