mat-card {
  text-align: center;
  padding: 32px;
}

.img-container {
  $size: 128px;
  height: $size;
  width: $size;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  display: grid;
  place-content: center;
  img {
    height: inherit;
    width: inherit;
  }
}

.description {
  margin-top: 16px;
}
