:host, .img-container {
  height: 100%;
}

.img-container {
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  display: grid;
  place-content: center;

  img {
    width: 100%;
  }
}

