<div class="master-container">
  <!-- <section class="hero-block">
    <div class="hero-img"></div>
    <div class="hero-content" #heroContent>
      <div class="container">
        <div class="logo mat-display-2">
          <div>GDG DevFest</div>
          <div>Season 2019</div>
        </div>
        <div class="tagline mat-headline">
          <div>Kolkata. October 12-13, 2019</div>
          <div>Be a hero</div>
        </div>
        <div class="actions">
          <button mat-button>
            <mat-icon>movie</mat-icon>
            view highlights
          </button>
          <button mat-flat-button class="primary-text">
            <mat-icon>local_activity</mat-icon>
            buy ticket
          </button>
        </div>
        <button mat-icon-button class="scroll-down"
          aria-label="Scroll down">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      </div>
  </section>
  <section class="block about-block" #about>
    <div class="container">
      <div class="small-grid">
        <div class="mat-display-1">What you need to know, before you ask.</div>
        <div>
          GDG DevFest India brings together the world class experts in Android, Web and
          Cloud technologies to Kolkata for 2 days of sessions, workshops and showcases.
        </div>
        <button mat-button color="primary">
          explore featured session <mat-icon>arrow_right</mat-icon>
        </button>
        <div>
          Described by many as 'Google I/O of India', our team creates DevFest to be the best
          place for experience sharing in a phenomenal atmosphere.
        </div>
        <button mat-button color="primary">
          see how it was in 2018 <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <div class="stats">
        <div>
          <div class="number mat-display-3">900</div>
          <mat-divider></mat-divider>
          <div class="text">attendees</div>
        </div>
        <div>
          <div class="number mat-display-3">2</div>
          <mat-divider></mat-divider>
          <div class="text">days</div>
        </div>
        <div>
          <div class="number mat-display-3">50</div>
          <mat-divider></mat-divider>
          <div class="text">sessions</div>
        </div>
        <div>
          <div class="number mat-display-3">4</div>
          <mat-divider></mat-divider>
          <div class="text">tracks</div>
        </div>
      </div>
    </div>
  </section>
  <section class="block speaker-block">
    <div class="container">
      <div class="small-grid">
        <div class="mat-display-1">Rockstar speakers</div>
        <div class="speaker-container">
        </div>
        <button mat-button color="primary">
          view all speakers <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <section class="block banner-block">
    <div class="container pad-all">
      <div class="mat-display-1">Get notified about the important conference updates</div>
      <button mat-button>
        subscribe <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </section>
  <section class="block">
    <div class="container">
      Tickets
    </div>
  </section>
  <section class="block">Highlights</section>
  <section class="block">
    <div class="container">
      Organizer
    </div>
  </section>
  <section class="block">
    <div class="container">
      DFUA'16 featured videos
    </div>
  </section>
  <section class="block">
    <div class="container">
      The latest news
    </div>
  </section>
  <section class="block">Location</section>
  <section class="block">
    <div class="container">
      Partners
    </div>
  </section> -->
  <section class="header-img container">
    <img class="w-100" src="assets/img/devfest_header.png">
  </section>
  <section class="col-2 container">
    <div>
      <div>August 2019</div>
      <div class="mat-display-1">Welcome to Devfest</div>
      <div>
        DevFests are community-led, developer events hosted by GDG chapters around the globe focused on community building and learning about Google’s technologies. Each DevFest is inspired by and uniquely tailored to the needs of the developer community and region that hosts it.
      </div>
      <a class="link">Registration Link coming soon</a>
    </div>
    <div>
      <img class="w-100" src="assets/img/assets.jpg"/>
    </div>
  </section>
  <section class="col-2 container">
    <div>
      <div class="mat-display-1">Unique & Engaging</div>
      <div>
        <p>
          While no two DevFests will be exactly alike, each at its core is powered by a shared belief that when developers come together to exchange ideas, amazing things can happen.
        </p>
        If you would like to be a Speaker or do a Showcase for your Organization, do check out our CFPs.
      </div>
      <p>
        <a class="link">Call for Speaker</a>
      </p>
      <a class="link">Call for Showcase</a>
    </div>
    <div>
      <img class="w-100" src="assets/img/assets.jpg"/>
    </div>
  </section>
  <section class="col-2 container">
    <div>
      <div class="mat-display-1">What happens at Devfest?</div>
      <div>
        <p>
          Devfests are events where we come together to learn from each other.
        </p>
        The motive is to create a local ecosystem of Developers and give them a platform to Interact and Network. We talk about various cutting-edge technologies.
      </div>
    </div>
    <div>
    </div>
  </section>
  <section class="col-2 container">
    <div>
      <div class="mat-display-1">The Team</div>
      <div>
        <p>
          These are the amazing bunch of people who make the event what it is. Who toil day and night to bring to you Devfest Kolkata 🌓
        </p>
        They take the time out from their daily grind to give back to the Community. And in the process, empowering us all.
      </div>
      <a class="link">Meet The Team</a>
    </div>
    <div>
      <img class="w-100" src="assets/img/team.jpg"/>
    </div>
  </section>
  <section class="col-2 container">
    <div>
      <div class="mat-display-1">Partners</div>
      <div>
        Thank you to our Partners for their support towards the community. If you want to be showcased through Devfest Kolkata, click <a class="link">Here</a> for Sponsorship details.
      </div>
    </div>
    <div>
    </div>
  </section>
</div>
