<div class="master-container mat-subheading-2">
  <section class="header-img container">
    <img class="w-100" src="assets/img/devfest_header.png">
  </section>
  <section class="col-2 container">
    <div>
      <div class="date">August 2019</div>
      <div class="section-title mat-display-1">Welcome to Devfest</div>
      <p>
        DevFests are community-led, developer events hosted by GDG chapters around the globe focused on community building and learning about Google’s technologies. Each DevFest is inspired by and uniquely tailored to the needs of the developer community and region that hosts it.
      </p>
      <a class="link">Registration Link coming soon</a>
    </div>
    <div class="img-container">
      <img class="w-100" src="assets/img/assets.jpg"/>
    </div>
  </section>
  <section class="col-2 col-reverse container">
    <div>
      <div class="section-title mat-display-1">Unique & Engaging</div>
      <div>
        <p>
          While no two DevFests will be exactly alike, each at its core is powered by a shared belief that when developers come together to exchange ideas, amazing things can happen.
        </p>
        <p>
          If you would like to be a Speaker or do a Showcase for your Organization, do check out our CFPs.
        </p>
      </div>
      <p>
        <a class="link" href="https://sessionize.com/devfest-kolkata-2019/" target="_blank" rel="noopener noreferrer">
          Call for Speaker
        </a>
      </p>
      <a class="link" href="https://forms.gle/BBCKfdrCDGDEwiEq8" target="_blank" rel="noopener noreferrer">
        Call for Showcase
      </a>
    </div>
    <div class="img-container">
      <img class="w-100" src="assets/img/assets.jpg"/>
    </div>
  </section>
  <section class="col-2 container">
    <div>
      <div class="section-title mat-display-1">What happens at Devfest?</div>
      <div>
        <p>
          Devfests are events where we come together to learn from each other.
        </p>
        <p>
          The motive is to create a local ecosystem of Developers and give them a platform to Interact and Network. We talk about various cutting-edge technologies.
        </p>
      </div>
    </div>
    <div class="square-4">
      <div>
        <div class="mat-subheading-2 topic yellow">Cloud</div>
        Learn & Grow with Serverless and Cloud.
      </div>
      <div>
        <div class="mat-subheading-2 topic blue">Web</div>
        Working with the all-pervading platform.
      </div>
      <div>
        <div class="mat-subheading-2 topic red">ML</div>
        Making the machines learn.
      </div>
      <div>
        <div class="mat-subheading-2 topic green">Mobile</div>
        Build for the Device in everyone's hand.
      </div>
    </div>
  </section>
  <section class="col-2 col-reverse container">
    <div>
      <div class="section-title mat-display-1">The Team</div>
      <div>
        <p>
          These are the amazing bunch of people who make the event what it is. Who toil day and night to bring to you Devfest Kolkata 🌓
        </p>
        <p>
          They take the time out from their daily grind to give back to the Community. And in the process, empowering us all.
        </p>
      </div>
      <a class="link" routerLink="/team">Meet The Team</a>
    </div>
    <div class="img-container">
      <img class="w-100" src="assets/img/team.jpg"/>
    </div>
  </section>
  <section class="col-2 container">
    <div>
      <div class="section-title mat-display-1">Partners</div>
      <div>
        Thank you to our Partners for their support towards the community. If you want to be showcased through Devfest Kolkata, click <a class="link" href="https://forms.gle/z8ZivnfjFQYbX55T6" target="_blank" rel="noopener noreferrer">Here</a> for Sponsorship details.
      </div>
    </div>
    <div class="img-container partner-logo">
      <img src="assets/img/gd.png"/>
      <img src="assets/img/gdg.png"/>
    </div>
  </section>
</div>
