<style>
  .videoWrapper {
    position: relative;
    padding-bottom: 40.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 30vh;
}

@media only screen and (min-width: 600px) {

  .videoWrapper iframe {
    min-height: 60vh !important;
}
}
</style>

<div class="master-container mat-subheading-2">
  <section class="header-img container">
    <img class="w-100" src="assets/img/devfest_header.png">
  </section>
  <section class="col-2 container">
    <div>
      <div class="date" style="color:rgb(33, 33, 34); font-size:20px; font-family: 'Ubuntu Mono', monospace;">August 4th, 2019</div>
      <div class="section-title mat-display-1">Welcome to GDG DevFest Kolkata</div>
      <p style="font-size:17px; font-family: 'Open Sans', sans-serif;">
        DevFests are community-led, developer events hosted by GDG chapters around the globe focused on community building and learning about Google’s technologies. Each DevFest is inspired by and uniquely tailored to the needs of the developer community and region that hosts it.
      </p>
      <p>&nbsp;</p>
      <a class="link" style="text-decoration: none; color :rgb(39, 80, 202); font-weight:400; font-size:18px;" href="https://docs.google.com/forms/d/e/1FAIpQLSfnitNzIblk6ciVqYgIHRM303Dl44ZvpAtMcqvqWQeQUBYLdw/viewform?usp=sf_link" target="_blank">Apply for Your Pass Now!</a>
    </div>
    <div class="img-container">
      <img class="w-100" src="assets/img/devfest.png"/>
    </div>
  </section>
  <section class="col-2 col-reverse container">
    <div>
      <div class="section-title mat-display-1">Unique & Engaging</div>
      <div>
        <p style="font-size:17px; font-family: 'Open Sans', sans-serif;">
          While no two DevFests will be exactly alike, each at its core is powered by a shared belief that when developers come together to exchange ideas, amazing things can happen.
        </p>
        <p style="font-size:17px; font-family: 'Open Sans', sans-serif;">
          If you would like to be a Speaker or do a Showcase for your Organization, do check out our CFPs.
        </p>
      </div>
      <p>&nbsp;</p>
      <p>
        <a class="link" style="text-decoration: none; color :rgb(36, 74, 187); font-weight:400; font-size:18px;" href="https://sessionize.com/devfest-kolkata-2019/" target="_blank" rel="noopener noreferrer">
          Call for Speaker
        </a>
      </p>
      <a class="link" style="text-decoration: none; color :rgb(32, 73, 196); font-weight:400; font-size:18px;" href="https://forms.gle/BBCKfdrCDGDEwiEq8" target="_blank" rel="noopener noreferrer">
        Call for Showcase
      </a>
    </div>
    <div class="img-container">
      <img class="w-100" src="assets/img/assets.jpg"/>
    </div>
  </section>
  <section class="col-2 container">
    <div>
      <div class="section-title mat-display-1">What happens at DevFest?</div>
      <div>
        <p style="font-size:17px; font-family: 'Open Sans', sans-serif;">
          DevFests are events where we come together to learn from each other.
        </p>
        <p style="font-size:17px; font-family: 'Open Sans', sans-serif;">
          The motive is to create a local ecosystem of Developers and give them a platform to Interact and Network. We talk about various cutting-edge technologies.
        </p>
      </div>
    </div>
    <div class="square-4">
      <div>
        <div class="mat-subheading-2 topic yellow" style="font-size:17; font-weight:450;">Cloud</div>
        Learn & Grow with Serverless and Cloud.
      </div>
      <div>
        <div class="mat-subheading-2 topic blue" style="font-size:17; font-weight:450;">Web</div>
        Working with the all-pervading platform.
      </div>
      <div>
        <div class="mat-subheading-2 topic red" style="font-size:17; font-weight:450;">ML</div>
        Making the machines learn.
      </div>
      <div>
        <div class="mat-subheading-2 topic green" style="font-size:17; font-weight:450;">Mobile</div>
        Build for the Device in everyone's hand.
      </div>
    </div>
  </section>
  <section class="container" style="grid-template-columns: unset;">
    <div>
      <div class="section-title mat-display-1">Highlights</div>
      <div style="font-size:17px; font-family: 'Open Sans', sans-serif;">
       DevFest Kolkata 2018 was the largest gathering of Google Developer Groups in the Eastern region of India! Here's a showdown of the event, with complete album available at - <a class="link" style="text-decoration: none; color :rgb(48, 90, 216); font-weight:450;" href="https://photos.app.goo.gl/b6WCNuE7xQDt6BnA8" target="_blank" rel="noopener noreferrer">Google Photos Album</a>.
      </div>
      <p>&nbsp;</p>
      <br>
      <div class="videoWrapper" style="text-align:center;">
      <iframe style="width: 100%;" src="https://www.youtube.com/embed/jG2_TN-jfH4" frameborder="0" controls="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
  </section>
  <section class="col-2 col-reverse container">
    <div>
      <p>&nbsp;</p>
      <div class="section-title mat-display-1">The Team</div>
      <div>
        <p style="font-size:17px; font-family: 'Open Sans', sans-serif;">
          These are the amazing bunch of people who make the event what it is. Who toil day and night to bring to you DevFest Kolkata 🌓
        </p>
        <p style="font-size:17px; font-family: 'Open Sans', sans-serif;">
          They take the time out from their daily grind to give back to the Community. And in the process, empowering us all.
        </p>
      </div>
      <a class="link" style="text-decoration: none; color :rgb(48, 90, 216); font-weight:400; font-size:18px;" routerLink="/team">Meet The Team</a>
    </div>
    <div class="img-container">
      <img class="w-100" src="assets/img/team.jpg" style="border-radius:4px;"/>
    </div>
  </section>
  <section class="container" style="grid-template-columns: unset;">
    <div>
      <div class="section-title mat-display-1">Partners</div>
      <div style="font-size:17px; font-family: 'Open Sans', sans-serif;">
       We thank our Partners for their support towards the community. If you want to be showcased through DevFest Kolkata, click <a class="link" style="text-decoration: none; color :rgb(48, 90, 216); font-weight:450;" href="https://forms.gle/z8ZivnfjFQYbX55T6" target="_blank" rel="noopener noreferrer">Here</a> for Sponsorship details.
      </div>
      <p>&nbsp;</p>
      <br>
      <div class="partner-logo" style="text-align:center;">
      <a href="https://developers.google.com" target="_blank" rel="noopener noreferrer"><img src="assets/img/logos/gd.png"/></a>
      <a href="https://www.jetbrains.com/" target="_blank" rel="noopener noreferrer"><img src="assets/img/jetbrains.png"/></a>
      <a href="https://www.manning.com/" target="_blank" rel="noopener noreferrer"><img src="assets/img/logos/manning.png"/></a>
      <a href="https://www.pyimagesearch.com/" target="_blank" rel="noopener noreferrer"><img src="assets/img/logos/pyimagesearch.png"/></a>
      
    </div>
    </div>
  </section>
</div>
<div id="location" width="100%">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.982636307165!2d88.45897461427383!3d22.579752738400025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02753d09d3d733%3A0xb81242f6fef0e357!2sNovotel+Kolkata+Hotel+And+Residences!5e0!3m2!1sen!2sin!4v1562964880829!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>