<div class="volunteer-container">
  <div class="img-container">
    <app-round-img [src]="'assets/img/face.png'"></app-round-img>
  </div>
  <div class="details">
    <div class="mat-title">{{ volunteer.name }}</div>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip *ngFor="let team of volunteer.teams">{{team}}</mat-chip>
    </mat-chip-list>
    <div>
      <a mat-icon-button aria-label="Notification"
        [href]="volunteer.linkedin" target="_blank" rel="noopener noreferrer">
        <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Linkedin"></mat-icon>
      </a>
      <a mat-icon-button aria-label="Notification"
        [href]="volunteer.slack" target="_blank" rel="noopener noreferrer">
        <mat-icon svgIcon="slack" aria-hidden="false" aria-label="Slack"></mat-icon>
      </a>
    </div>
  </div>
</div>
