$img-size: 96px;

.volunteer-container {
  display: grid;
  grid-template-columns: $img-size auto;
  column-gap: 24px;
  .img-container {
    height: $img-size;
    width: $img-size;
  }
  .details {
    padding-top: 4px;

    .mat-title {
      font-weight: normal;
      margin: 0;
    }
    .teams {
      display: flex;
      .team {
        margin-right: 4px;
        background: grey;
        color: white;
        padding: 4px 8px;
        border-radius: 16px;
      }
    }
    .links {
    }
  }
}
