<style>
#footer .container {
  text-align: left;
  display: block;
}

#footer .container {
  padding-top: 10px;
}


#footer a:link {
  text-decoration: none;
  color: inherit;
}

#footer .fa {
  font-size: 20px;
  margin-left: 10px;
}

#footer span {
  margin: 0px 50px 0px 0px;
}

#footer a:visited {
  text-decoration: none;
  color: inherit;
}

#footer a:hover {
  text-decoration: underline;
  color: inherit;
}

#footer a:active {
  text-decoration: none;
  color: inherit;
}

#footer .share-social {
  display: inline-block;
}

#footer .share-social span {
  font-size: 16px;
}

#footer p a:link {
  margin: 0px;
  padding: 0px;
}

#footer span b:first-child {
  display: inline-block;
  padding-bottom: 10px;
}

#footer img {
  height: 30px;
  width: auto;
}

#footer .col-lg-9 {
  text-align: right;
}

#footer .share .fa-facebook {
  color: #3b5998;
}

#footer .share .fa-twitter {
  color: #00aced;
}

#footer #top-button {
  position: absolute;
  right: 0px;
  padding: 25px 25px 22.5px 20px;
  background-color: rgba(83, 109, 254, 0.1);
  margin: -6px 0px 0px 0px;
  color: inherit;
  z-index: 999;
}

#footer .hide-bar {
  padding: 0px;
  margin: 0px;
}

.coming-soon {
  padding-top: 15%;
  padding-bottom: 10%;
}

@media (max-width: 992px) {
  #footer .col-lg-9 {
    text-align: left;
  }

  #footer .footer-details {
    padding-bottom: 15px;
  }

  #footer .share-social span {
    font-size: 12px;
  }

  #footer .fa {
    font-size: 16px;
  }

  #footer #top-button {
    padding: 63px 20px 57px 20px;
    margin-top: -6.8px;
  }

  #footer #top-button .fa {
    font-size: 20px;
  }

  #footer .copyright {
    padding-top: 10px;
  }

  #footer .hide-bar {
    visibility: hidden;
  }

  #footer #dev-credits {
    display: block;
    padding-top: 5px;
  }


  .coming-soon {
    padding-top: 35%;
    padding-bottom: 20%;
  }
}

/* For scroll bar */
body::-webkit-scrollbar {
  width: 0.4em;

}

body::-webkit-scrollbar-track {
  background-color: #dddddd;
}

body::-webkit-scrollbar-thumb {
  height: 200px;
  background-color: #999;
  outline: 1px solid slategrey;
}

</style>
<div id="footer">
  <div id="top-button" style="background:rgba(83, 109, 254, 0.1);cursor: pointer;">
    <i class="material-icons" style=" font-size: 30px;">
      keyboard_arrow_up
    </i>
  </div>
  <div class="container" style="padding-top: 20px;">
    <div class="row">
      <div class="col-lg-3">
        <div class="share-social share">
          <span><b>SHARE</b>
            <a href="https://facebook.com/sharer/sharer.php" target="_blank"><i class="fa fa-facebook"></i></a>
            <a>&nbsp;</a>
            <a href="https://twitter.com/home?status=Join%20in%20the%20GDG%20Kolkata%20DevFest19%20and%20have%20the%20experience%20of%20a%20lifetime!%20Register%20now%20at%20-%20https%3A//devfest.gdgkolkata.org" target="_blank"><i class="fa fa-twitter"></i></a>
          </span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="share-social">
          <span><b>FOLLOW US</b><a>&nbsp;</a>
            <a href="https://facebook.com/GDGKolkata/" target="_blank"><i class="fa fa-facebook"></i></a><a>&nbsp;</a>
            <a href="https://twitter.com/gdgkolkata" target="_blank"><i class="fa fa-twitter"></i></a><a>&nbsp;</a>
            <a href="https://meetup.com/GDG-Kolkata/" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a><a>&nbsp;</a>
          </span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="share-social">
          <span><a href="mailto:admin@gdgkolkata.org"><b>EMAIL US</b></a></span>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-details">
        <span><b>ABOUT</b></span>
        <p>
          <a href="https://facebook.com/pg/GDGKolkata/about/" target="_blank">GDG Kolkata</a><br />
          <a href="https://developers.google.com/programs/community/gdg/" target="_blank">Google
            Developers Group</a><br />
          <a href="/team">Meet the Team</a><br />
          <a href="https://twitter.com/hashtag/devfestkol" target="_blank"><b>#DevFestKol</b></a> &nbsp;
          <a href="https://twitter.com/hashtag/devfest19" target="_blank"><b>#DevFest19</b></a> &nbsp;
          <a href="https://twitter.com/hashtag/devfestkol19" target="_blank"><b>#DevFestKol19</b></a>
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-details">
        <span><b>ABOUT WTM</b></span>
        <p>
          <a href="https://facebook.com/WTMKolkata/" target="_blank">WTM Kolkata</a><br />
          <a href="https://www.womentechmakers.com/" target="_blank">Women Techmakers</a><br />
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-details">
        <span><b>ABOUT GCDC</b></span>
        <p>
          <a href="https://www.facebook.com/GCDCKol/" target="_blank">GCDC Kolkata</a><br />
          <a href="https://www.meetup.com/Google-Cloud-Developer-Community-Kolkata/" target="_blank">Google Cloud Developers Community</a><br />
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="container" style="padding-bottom: 20px;">
    <div class="row">
      <div class="col-lg-3">
        <img src="assets/img/gd.png" alt="gdg-logo" style="height: 75px !important" />
      </div>
      <div class="col-lg-9 copyright" style="font-family: 'Open Sans', sans-serif;">
        &copy; Copyright 2019 | GDG Kolkata <span class="hide-bar"> | </span>
      </div>
    </div>
  </div>
</div>

<script>
    $('#top-button').on('click', function (event) {
        if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html').animate({
                scrollTop: 0
            }, 800, function () {
                window.location.hash = hash;
            });
        }
    });
</script>