<div id="footer" style="font-size:15px; font-family: 'Open Sans', sans-serif;">
  <div class="container" style="padding-top: 20px;">
    <div class="row">
      <div class="col-lg-3">
        <div class="share-social">
          <span><b style="color:#3f51b5;">Follow Us</b><a>&nbsp;</a>
            <a href="#">&nbsp;</a><a>&nbsp;</a>
            <a href="https://facebook.com/GDGKolkata/" target="_blank"><i class="fa fa-facebook"></i></a><a>&nbsp;</a>
            <a href="https://twitter.com/gdgkolkata" target="_blank"><i class="fa fa-twitter"></i></a><a>&nbsp;</a>
            <a href="https://meetup.com/GDG-Kolkata/" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a><a>&nbsp;</a>
          </span>
        </div>
      </div>
      <div class="col-lg-3">
        &nbsp;
      </div>
      <div class="col-lg-3">
        <div class="share-social">
          <span><a href="mailto:admin@gdgkolkata.org" style="color:#3f51b5; font-weight:600; font-size:15px; font-family: 'Open Sans', sans-serif;">Drop us an email!</a></span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-details">
        <span><b style="color:#3f51b5; font-weight:600; font-size:15px; font-family: 'Open Sans', sans-serif;">About GDG</b></span>
        <p>
          <a style="font-size:15px; text-decoration: none;" href="https://facebook.com/pg/GDGKolkata/about/" target="_blank">GDG Kolkata</a><br />
          <a style="font-size:15px; text-decoration: none;" href="https://developers.google.com/programs/community/gdg/" target="_blank">Google
            Developers Group</a><br />
          <a style="font-size:15px; text-decoration: none;" href="/team">Meet the Team</a><br />
          <br/>
          <a style="font-size:15px; text-decoration: none;" href="https://twitter.com/hashtag/devfestkol" target="_blank"><b>#DevFestKol</b></a> &nbsp;
          <a style="font-size:15px; text-decoration: none;"  href="https://twitter.com/hashtag/devfest19" target="_blank"><b>#DevFest19</b></a> &nbsp;
          <a style="font-size:15px; text-decoration: none;" href="https://twitter.com/hashtag/devfestkol19" target="_blank"><b>#DevFestKol19</b></a>
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-details">
        <span><b style="color:#3f51b5; font-weight:600; font-size:15px; font-family: 'Open Sans', sans-serif;">About WTM</b></span>
        <p>
          <a style="font-size:15px; text-decoration: none;"  href="https://facebook.com/WTMKolkata/" target="_blank">WTM Kolkata</a><br />
          <a style="font-size:15px; text-decoration: none;"  href="https://www.womentechmakers.com/" target="_blank">Women Techmakers</a><br />
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 footer-details">
        <span><b style="color:#3f51b5; font-weight:600; font-size:15px; font-family: 'Open Sans', sans-serif;">About GDG Cloud Kolkata</b></span>
        <p>
          <a style="font-size:15px; text-decoration: none;" href="https://www.facebook.com/GCDCKol/" target="_blank">GDG Cloud Kolkata</a><br />
          <a style="font-size:15px; text-decoration: none;" href="https://www.meetup.com/Google-Cloud-Developer-Community-Kolkata/" target="_blank">Google Developers Group Cloud Kolkata</a><br />
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="container" style="padding-bottom: 20px;">
    <div class="row">
      <div class="col-lg-1">
        <img src="assets/img/gd.png" alt="gdg-logo"/>
      </div>

      <div class="col-lg-9 copyright">
        &copy; Copyright 2019 |
        <a href="https://gdgkolkata.org/" target="_blank" rel="noopener noreferrer">
          GDG Kolkata</a>
        <span class="hide-bar"> | </span>
        <a (click)="viewDevelopers=true" *ngIf="!viewDevelopers" style="cursor: pointer">Devel❤️er Credits</a>
        <span id="credits" *ngIf="viewDevelopers">
          <a href="https://www.linkedin.com/in/debmallya-bhattacharya-a93507aa/" target="_blank" rel="noopener noreferrer">
            Debmallya</a> &middot;
          <a href="https://www.linkedin.com.l/in/themasterbuilder23/" target="_blank" rel="noopener noreferrer">
            Sayantan</a> &middot;
          <a href="https://linkedin.com/in/xprilion/" target="_blank" rel="noopener noreferrer">
            Anubhav</a> &middot;
          <a href="https://www.linkedin.com/in/shuvam-manna/" target="_blank" rel="noopener noreferrer">
            Shuvam</a> &middot;
          <a href="https://www.linkedin.com/in/ritwik-raha/" target="_blank" rel="noopener noreferrer">
            Ritwik</a>
        </span>
      </div>
    </div>
  </div>
</div>
