<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role="dialog" mode="over">
    <div class="site-name home-link"></div>
    <div class="sidenav-header">
      <div class="duration mat-headline">August 03, 2019</div>
      <div class="location mat-subheading-1">Kolkata, India</div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of navLinks"
        routerLinkActive="router-link-active"
        [routerLink]="link.path">{{link.label}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content cdkScrollable>
    <mat-toolbar class="topbar">
      <div class="container">
        <button type="button" aria-label="Toggle sidenav"
          mat-icon-button (click)="drawer.toggle()"
          *ngIf="isBreakpoint$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <ng-container *ngIf="!(isBreakpoint$ | async); else iconButtons">
          <a routerLink="/" class="home-link"></a>
          <span class="spacer"></span>
          <nav mat-tab-nav-bar disableRipple class="top-nav-bar">
            <a mat-tab-link
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
              {{link.label}}
            </a>
            <a mat-tab-link>sign in</a>
          </nav>
          <a mat-flat-button color="primary" class="buy-ticket">buy ticket</a>
        </ng-container>
        <ng-template #iconButtons>
          <span class="spacer"></span>
          <button mat-icon-button aria-label="Sign In">
            <mat-icon>account_circle</mat-icon>
          </button>
        </ng-template>
        <button mat-icon-button aria-label="Notification">
          <mat-icon>notifications_none</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
