<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    role="dialog" mode="over" (click)="drawer.close()">
    <div class="site-name home-link">
      <img class="h-100" src="assets/img/logo_short.png"/>
    </div>
    <div class="sidenav-header">
      <div class="duration mat-headline">August 4th, 2019</div>
      <div class="location mat-subheading-1">Kolkata, India</div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of navLinks"
        routerLinkActive="router-link-active"
        [routerLink]="link.path">{{link.label}}</a>
    </mat-nav-list>
    <a mat-list-item
      href="https://gdgkolkata.org/about"
      target="_blank" rel="noopener noreferrer">Community Guidelines</a>
    <a mat-list-item
      href="https://docs.google.com/forms/d/e/1FAIpQLSfnitNzIblk6ciVqYgIHRM303Dl44ZvpAtMcqvqWQeQUBYLdw/viewform?usp=sf_link"
      target="_blank" rel="noopener noreferrer">Apply for a Pass</a>
  </mat-sidenav>
  <mat-sidenav-content cdkScrollable #body>
    <mat-toolbar #topBar
      class="topbar">
      <div class="container">
        <ng-container *ngIf="!(isBreakpoint$ | async); else iconButtons">
          <a routerLink="/" class="home-link">
            <img class="h-100" src="assets/img/logo.png"/>
          </a>
          <span class="spacer"></span>
          <a mat-button [attr.aria-label]="link.label | titlecase"
            *ngFor="let link of navLinks"
            [routerLink]="link.path"
            routerLinkActive="mat-flat-button mat-primary">{{link.label}}</a>
          <a mat-button
            href="https://gdgkolkata.org/about"
            target="_blank" rel="noopener noreferrer">Community Guidelines</a>
          <a mat-button
            href="https://docs.google.com/forms/d/e/1FAIpQLSfnitNzIblk6ciVqYgIHRM303Dl44ZvpAtMcqvqWQeQUBYLdw/viewform?usp=sf_link"
            target="_blank" rel="noopener noreferrer">Apply for a Pass</a>
        </ng-container>
        <ng-template #iconButtons>
          <button mat-icon-button aria-label="Toggle sidenav"
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <!-- <span class="spacer"></span> -->
        </ng-template>
        <!-- <button mat-icon-button aria-label="Notification">
          <mat-icon>notifications_none</mat-icon>
        </button> -->
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
