.sidenav-container {
  height: 100%;
  background-color: #fff;
}

.sidenav {
  width: 256px;
}

.home-link {
  background-image: url('/assets/img/gdgkol.png');
  background-size: cover;
  background-position-y: center;
}

.site-name {
  height: 150px;
  width: 150px;
}

.sidenav-header {
  padding: 0 16px 30px;
  .duration, .location {
    margin-bottom: 0;
  }
  .location {
    color: rgb(117, 117, 117);
  }
}

.topbar {
  position: fixed;
  top: 0;
  z-index: 4;
  background: rgba(255, 255, 255, 0);
  padding: 0;

  .container {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
  }

  .home-link {
    height: 100%;
    width: 100px;
  }

  .top-nav-bar {
    text-transform: uppercase;
    border-bottom: none;
    height: 100%;

    [mat-tab-link] {
      min-width: 72px;
    }
  }

  .buy-ticket {
    margin-right: 8px;
  }
}

[mat-list-item] {
  text-transform: capitalize;
}

mat-nav-list .router-link-active {
  font-weight: 500;
}

main {
  padding-top: 64px;
}

@media (max-width: 960px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 599px) {
  main {
    padding-top: 56px;
  }
}
