<div class="container">
  <div class="top-gap">
    <div class="mat-display-2">Team</div>
  </div>
</div>
<div class="description">
  <div class="container">
    <div>
      Google is known all around the world. Everyone is 'googling', checking on 'maps' and communicating in 'gmail'. For
      simple users, they are services that just works, but not for us. We developers see much more - APIs, scalability
      issues, complex technology stacks. And that is what GDG is about.
    </div>
    <div>
      Google Developers Group (GDG) Kolkata is an open and volunteer geek community who create exciting projects and
      share experiences about Google technologies with passion.
    </div>
    <div>
      Our goal is to organize space to connect the best industry experts with the Indian audience to boost development
      of IT.
    </div>
  </div>
</div>
<div class="container pad-all team-container">
  <div class="mat-display-1">Core Team</div>
  <div class="team">
    <app-team-member *ngFor="let member of teamMembers" [member]="member"></app-team-member>
  </div>
  <div class="mat-display-1">Volunteers</div>
  <div class="team">
    <app-volunteer *ngFor="let volunteer of volunteers" [volunteer]="volunteer"></app-volunteer>
  </div>
</div>
