<mat-divider></mat-divider>
<div class="container filter">
  <button mat-button color="primary" (click)="isFilterOptionsVisible = !isFilterOptionsVisible">
    <span class="button-content">
      <strong style="margin-right: 4px;">Filters</strong
      ><mat-icon *ngIf="!isFilterOptionsVisible">filter_list</mat-icon>
      <mat-icon *ngIf="isFilterOptionsVisible">close</mat-icon>
    </span>
  </button>
</div>
<mat-divider></mat-divider>
<div class="filter-options" *ngIf="isFilterOptionsVisible">
  <div class="tags" *ngIf="tags && tags.length > 0">
    <h3 class="mat-title">Tags</h3>
    <mat-chip-list [selectable]="isChipSelectable">
      <mat-chip
        *ngFor="let tag of tags"
        class="tag"
        [ngClass]="{ selected: tag.selected }"
        (click)="onChipClick('tags', tag)"
      >
        {{ tag.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="tags" *ngIf="complexities && complexities.length > 0">
    <h3 class="mat-title">Complexity</h3>
    <mat-chip-list [selectable]="isChipSelectable">
      <mat-chip
        *ngFor="let complexity of complexities"
        class="tag"
        [ngClass]="{ selected: complexity.selected }"
        (click)="onChipClick('complexity', complexity)"
      >
        {{ complexity.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
