<div class="container">
  <div class="top-gap">
    <div class="mat-display-2">Schedule</div>
  </div>
</div>
<nav mat-tab-nav-bar *ngIf="schedules.length">
  <a mat-tab-link active="true">
    {{schedules[0].date | date:'MMMM d'}}
  </a>
</nav>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<app-filter></app-filter>
<div class="container time-slot-container">
  <ng-container *ngFor="let schedule of schedules">
    <app-time-slot *ngFor="let timeSlot of schedule.timeSlots"
      [timeSlot]="timeSlot"></app-time-slot>
  </ng-container>
</div>
