.header {
  margin-top: 4rem;
}

.slot {
  display: flex;
  padding: 1rem;
  border-top: 1px solid grey;
  box-shadow: 2px 2px 2px grey;
  .slot-time {
    margin-right: 1rem;
  }
  .slot-description {
    width: 100%;
    .session {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
    }
  }
}
